<?xml version='1.0' encoding='utf-8'?>
<widget id="com.edufiliova.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>EduFiliova</name>
    <description>Personalized learning experiences globally with interactive lessons and educational tools</description>
    <author email="support@edufiliova.com" href="https://edufiliova.com">EduFiliova Team</author>
    
    <content src="https://edufiliova.com/app" />
    
    <access origin="*" />
    <allow-navigation href="https://edufiliova.com/*" />
    <allow-navigation href="https://*.edufiliova.com/*" />
    <allow-navigation href="https://*.stripe.com/*" />
    <allow-navigation href="https://*.paypal.com/*" />
    <allow-navigation href="https://*.google.com/*" />
    <allow-navigation href="https://*.facebook.com/*" />
    <allow-navigation href="https://*.apple.com/*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- App Icons - Different DPI densities -->
        <icon src="res/icon/android/icon-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/icon-xxxhdpi.png" density="xxxhdpi" />
        
        <!-- Disable default Cordova splash screen -->
        <preference name="ShowSplashScreenOnLoad" value="false" />
        <preference name="SplashScreenDelay" value="0" />
        
        <!-- Custom splash notification metadata -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="edufiliova_channel" />
        </config-file>
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="#ffffff" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#d44472" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <!-- Core plugins compatible with cordova-android 12 -->
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^6.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    
    <!-- Firebase Push Notifications - havesource fork works with cordova-android 12 -->
    <plugin name="@havesource/cordova-plugin-push" spec="^4.0.0">
        <variable name="FCM_VERSION" value="23.0.0" />
    </plugin>
    
    <!-- Vibration -->
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    
    <engine name="android" spec="^12.0.0" />
</widget>
